/* ----------- Product Sans ----------------- */
@font-face {
font-family: 'Product-Sans'; /* Global font */
src: url('../fonts/product-sans/Product\ Sans\ Regular.ttf')  format('truetype');
}
@font-face {
font-family: 'Product-Sans Bold'; /* Global font */
src: url('../fonts/product-sans/Product\ Sans\ Bold.ttf')  format('truetype');
}

