@import 'fonts';

html {
  font-family: 'Product-Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.ff-product-sans{
  font-family: 'Product-Sans', sans-serif;
}
.ff-product-sans-bold{
  font-family: 'Product-Sans Bold', sans-serif;
}